/*--------------------------------------------------------------
# Faq Section
--------------------------------------------------------------*/
.faq .content h3 {
  font-weight: 400;
  font-size: 34px;
}

.faq .content p {
  color: darkslategray;
}

.faq .faq-container {
  margin-top: 15px;
}

.faq .faq-container .faq-item {
  background: #304050;
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);


}

.faq .faq-container .faq-item:last-child {
  margin-bottom: 0;
}

.faq .faq-container .faq-item h3 {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  margin: 0 30px 0 32px;
  transition: 0.3s;
  cursor: pointer;
}


.faq .faq-container .faq-item h3:hover {
  color: darkslategray;
}

.faq .faq-container .faq-item .faq-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.3s ease-in-out;
  visibility: hidden
}

.faq-response{
  color: white;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
  color: white;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  transition: 0.3s;
  cursor: pointer;
}