<!-- Faq Section -->
<section id="faq" class="faq section light-background">
  <div class="container-fluid">
    <div class="row gy-4">
      <div
        class="col-lg-7 d-flex flex-column justify-content-center order-2 order-lg-1"
      >
        <div class="content px-xl-5" data-aos="fade-up" data-aos-delay="100">
          <h3><span>Najčešće postavljana </span><strong>pitanja</strong></h3>
          <p>
            Odgovori na neka pitanja koja nas često pitate vezano zaradu i naše
            usluge.
          </p>
        </div>

        <mat-accordion
          class="faq-container"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <mat-expansion-panel
            *ngFor="let faq of faqs"
            class="faq-item"
            (opened)="panelOpenState.set(true)"
            (closed)="panelOpenState.set(false)"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>{{ faq.question }}</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="faq-toggle">
              <p class="faq-response">{{ faq.answer }}</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="col-lg-5 order-1 order-lg-2">
        <img
          src="assets/img/faq.jpg"
          class="img-fluid"
          alt=""
          data-aos="zoom-in"
          data-aos-delay="100"
        />
      </div>
    </div>
  </div>
</section>
<!-- /Faq Section -->
