/*--------------------------------------------------------------
# Pricing Section
--------------------------------------------------------------*/
.pricing {
  padding: 20px 0px !important;
}

.pricing .pricing-item {
  animation: pulse 2.5s infinite;
  background-color: white;
  padding: 40px 40px;
  height: 100%;
  border-radius: 15px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

/* Hover efekat za sjaj i zoom */
.pricing-item:hover {
  animation: none;
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
}

/* Pulsirajući efekat sa crnom pozadinom */
@keyframes pulse {
  0% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
  }
  50% {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5), 0 0 40px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
  }
}

/* Naslovi i dugmići */
.pricing h2 {
  color: #304050;
  font-weight: 600;
}

.pricing h3 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 20px;
}

.pricing h4 {
  color: var(--accent-color);
  font-size: 48px;
  font-weight: 700;
  font-family: var(--heading-font);
  margin-bottom: 0;
}

.pricing h4 sup {
  font-size: 28px;
}

.pricing h4 span {
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  font-size: 18px;
  font-weight: 500;
}

/* Dugme - CTA */
.pricing .cta-btn {
  border: 1px solid var(--default-color);
  color: var(--default-color);
  display: block;
  text-align: center;
  padding: 10px 35px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--heading-font);
  transition: 0.3s;
  margin-top: 20px;
  margin-bottom: 6px;
  text-decoration: none;
}

.pricing .cta-btn:hover {
  background-color: #4d6e8f;
  color: var(--contrast-color);
  border-color: var(--accent-color);
}

/* Lista */
.pricing ul {
  padding: 0;
  list-style: none;
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  text-align: left;
  line-height: 20px;
}

.pricing ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.pricing ul li:last-child {
  padding-bottom: 0;
}

.pricing ul i {
  color: #4d6e8f;
  font-size: 24px;
  padding-right: 3px;
}

.pricing ul .na {
  color: color-mix(in srgb, var(--default-color), transparent 60%);
}

.pricing ul .na i {
  color: color-mix(in srgb, var(--default-color), transparent 60%);
}

.pricing ul .na span {
  text-decoration: line-through;
}

/* Popularni plan */
.pricing .featured {
  position: relative;
}

.pricing .featured .popular {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: var(--accent-color);
  color: var(--contrast-color);
  padding: 4px 15px 6px 15px;
  margin: 0;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}

.pricing .featured .cta-btn {
  background: var(--accent-color);
  color: var(--contrast-color);
  border-color: var(--accent-color);

  &:hover{
    background-color: #4d6e8f;
  }
}

/* Medija upiti za različite veličine ekrana */
@media (max-width: 992px) {
  .pricing .box {
    max-width: 60%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 767px) {
  .pricing .box {
    max-width: 80%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 420px) {
  .pricing .box {
    max-width: 100%;
    margin: 0 auto 30px auto;
  }
}
