<!-- Pricing Section -->
<section id="pricing" class="pricing section">
  <!-- Section Title -->
  <div class="container section-title text-center">
    <h2>Paketi</h2>
  </div>
  <!-- End Section Title -->

  <div class="container py-5">
    <div class="row gy-4">
      <div class="col-lg-4">
        <div class="pricing-item">
          <h3>Youtube Plan</h3>
          <h4><sup>€</sup>24<span> / Mjesečno</span></h4>
          <a routerLink="/register" class="cta-btn">Kupi</a>
          <ul>
            <li><i class="bi bi-check"></i><span>Discord pristup</span></li>
            <li>
              <i class="bi bi-check"></i><span>Nagradne igre do 500€</span>
            </li>
            <li><i class="bi bi-check"></i><span>Video lekcije</span></li>
            <li class="na"><i class="bi bi-x"></i><span>Predavanja</span></li>
            <li class="na"><i class="bi bi-x"></i><span>Niche Drop</span></li>
            <li class="na">
              <i class="bi bi-x"></i><span>Zarada od prvog videa!</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="pricing-item featured">
          <p class="popular">Najpopularnije</p>
          <h3>TikTok & Youtube Plan</h3>
          <h4><sup>€</sup>44<span> / Mjesečno</span></h4>
          <a routerLink="/register" class="cta-btn">Kupi</a>
          <ul>
            <li><i class="bi bi-check"></i><span>TikTok Plan</span></li>
            <li><i class="bi bi-check"></i><span>Youtube Plan</span></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="pricing-item">
          <h3>TikTok Plan</h3>
          <h4><sup>€</sup>25<span> / Mjesečno</span></h4>
          <a routerLink="/register" class="cta-btn">Kupi</a>
          <ul>
            <li><i class="bi bi-check"></i><span>Discord pristup</span></li>
            <li>
              <i class="bi bi-check"></i><span>Nagradne igre do 500€</span>
            </li>
            <li><i class="bi bi-check"></i><span>Video lekcije</span></li>
            <li><i class="bi bi-check"></i><span>Predavanja</span></li>
            <li><i class="bi bi-check"></i><span>Niche Drop</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Pricing Section -->
