<!-- Contact Section -->
<section id="contact" class="contact section mt-5">
  <!-- Section Title -->
  <div class="container section-title text-center" data-aos="fade-up">
    <h2>Kontakt</h2>
    <div>
      <span>Imate pitanje ili trebate pomoć?</span>
      <span class="description-title"
        >Slobodno nas kontaktirajte! Naš tim je uvijek tu da vam pomogne.</span
      >
    </div>
  </div>
  <!-- End Section Title -->

  <div class="container mt-5" data-aos="fade" data-aos-delay="100">
    <div class="row gy-4">
      <div class="col-lg-12">
        <form
          [formGroup]="contactForm"
          (ngSubmit)="onSubmit()"
          class="php-email-form"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="row gy-4">
            <!-- Name Input -->
            <div class="col-md-6">
              <input
                type="text"
                formControlName="name"
                class="form-control"
                placeholder="Ime"
              />
              <div
                *ngIf="
                  (submitted ||
                    contactForm.get('name')?.dirty ||
                    contactForm.get('name')?.touched) &&
                  contactForm.get('name')?.invalid
                "
                class="text-danger"
              >
                <small *ngIf="contactForm.get('name')?.hasError('required')"
                  >Ime je obavezno.</small
                >
                <small *ngIf="contactForm.get('name')?.hasError('minlength')"
                  >Ime mora sadržavati najmanje 3 znaka.</small
                >
              </div>
            </div>

            <!-- Email Input -->
            <div class="col-md-6">
              <input
                type="email"
                formControlName="email"
                class="form-control"
                placeholder="Email"
              />
              <div
                *ngIf="
                  (submitted ||
                    contactForm.get('email')?.dirty ||
                    contactForm.get('email')?.touched) &&
                  contactForm.get('email')?.invalid
                "
                class="text-danger"
              >
                <small *ngIf="contactForm.get('email')?.hasError('required')"
                  >Email je obavezan.</small
                >
                <small *ngIf="contactForm.get('email')?.hasError('email')"
                  >Molimo Vas unesite validnu Email adresu.</small
                >
              </div>
            </div>

            <!-- Subject Input -->
            <div class="col-md-12">
              <input
                type="text"
                formControlName="subject"
                class="form-control"
                placeholder="Naslov"
              />
              <div
                *ngIf="
                  (submitted ||
                    contactForm.get('subject')?.dirty ||
                    contactForm.get('subject')?.touched) &&
                  contactForm.get('subject')?.invalid
                "
                class="text-danger"
              >
                <small *ngIf="contactForm.get('subject')?.hasError('required')"
                  >Naslov je obavezan.</small
                >
              </div>
            </div>

            <!-- Message Textarea -->
            <div class="col-md-12">
              <textarea
                class="form-control"
                formControlName="message"
                rows="6"
                placeholder="Poruka"
              ></textarea>
              <div
                *ngIf="
                  (submitted ||
                    contactForm.get('message')?.dirty ||
                    contactForm.get('message')?.touched) &&
                  contactForm.get('message')?.invalid
                "
                class="text-danger"
              >
                <small *ngIf="contactForm.get('message')?.hasError('required')"
                  >Poruka je obavezna.</small
                >
                <small *ngIf="contactForm.get('message')?.hasError('minlength')"
                  >Poruka mora sadržavati najmanje 10 znakova.</small
                >
              </div>
            </div>

            <!-- Submit Button -->
            <div class="col-md-12 text-end">
              <button type="submit" class="contact-btn mb-5">Pošalji</button>
            </div>
            <h1>{{ successMessage }}</h1>
          </div>
        </form>
      </div>
      <!-- End Contact Form -->
    </div>
  </div>
</section>
<!-- /Contact Section -->
