<!-- About Section -->
<section id="about" class="about section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-items-xl-center gy-5">
      <div class="col-xl-5 content">
        <h2>Automatizirana zarada za Vaše YouTube i TikTok Naloge.</h2>
        <p>
          Automatizirani sistem monetizacije: Naša tehnologija osigurava
          kontinuirani prihod kroz optimizaciju vašeg sadržaja za bolje
          rezultate. Iskoristite snagu automatizacije i povećajte svoju zaradu
          na <b>YouTube-u</b> i <b>TikTok-u</b> bez potrebe za stalnim praćenjem
          i aktivnostima. Naša platforma nudi rješenja koja vam omogućuju
          pasivnu <b>zaradu</b> putem automatiziranih procesa, bez obzira na to
          jeste li početnik ili već imate etablirane naloge.
        </p>
      </div>

      <div class="col-xl-7">
        <div class="row gy-4 icon-boxes">
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <i class="bi bi-collection-play-fill"></i>
              <h3>Pristup Video Lekcijama</h3>
              <p>
                Pristup detaljnim video lekcijama u kojima korak po korak
                objašnjavamo kako stvoriti viralan video koji generira prihod,
                kao i tajne strategije koje koristimo za brzu monetizaciju.
                Svakog mjeseca osiguravamo nove lekcije koje će vam pomoći da
                unaprijedite svoje vještine!
              </p>
            </div>
          </div>
          <!-- End Icon Box -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <i class="bi bi bi-headset icon"></i>
              <h3>24/7 Chat Support</h3>
              <p>
                Pristup Discord serveru gdje ćete dobiti odgovore na sva pitanja
                ili rješenja za probleme na koje naiđete.
              </p>
            </div>
          </div>
          <!-- End Icon Box -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <i class="bi bi-cart"></i>
              <h3>Sonvyx Shop</h3>
              <p>
                Pristup Sonvyx Shopu, gdje možete kupiti već monetizirane
                profile i kanale, omogućujući vam da počnete zarađivati od PRVOG
                DANA!
              </p>
            </div>
          </div>
          <!-- End Icon Box -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <i class="bi-person-bounding-box"></i>
              <h3>Sedmični Meeting</h3>
              <p>
                Poziv na PRIVATNI sedmični sastanak tijekom kojeg uživo
                odgovaramo na pitanja i pružamo povratne informacije na
                videozapise koje kreirate.
              </p>
            </div>
          </div>
          <!-- End Icon Box -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /About Section -->
