<header
  id="header"
  class="header d-flex align-items-center fixed-top"
  [ngClass]="{ scrolled: isScrolled }"
>
  <div
    class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between"
  >
    <a href="index.html" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <img src="assets/img/logo-cropped.png" alt="" />
      <!-- <h1 class="sitename">Bootslander</h1> -->
    </a>

    <nav id="navmenu" class="navmenu">
      <ul class="justify-content-end">
        <li><a href="#hero" class="active">Početna</a></li>
        <li><a href="#hero" class="active">Paketi</a></li>
        <li><a href="#hero" class="active">O nama</a></li>
        <li><a href="#hero" class="active">Pitanja</a></li>
        <li><a href="#hero" class="active">Kontakt</a></li>
        <div class="d-flex gap-3">
          <button href="#prijava" class="btn price-btn-sign-in">Prijava</button>
          <button href="#registracija" class="btn price-btn-sign-up">
            Registracija
          </button>
        </div>
      </ul>
      <i
        class="mobile-nav-toggle d-xl-none bi"
        [ngClass]="isMobileMenuOpen ? 'bi-x' : 'bi-list'"
        (click)="toggleMobileMenu()"
      ></i>
    </nav>
  </div>
</header>
