<section id="hero" class="hero section dark-background">
  <img src="assets/img/hero-bg-2.jpg" alt="" class="hero-bg" />

  <div class="container hero-content">
    <div class="row gy-4 align-items-center">
      <!-- LEFT: TEXT -->
      <div
        class="col-lg-5 d-flex flex-column justify-content-center"
        data-aos="fade-in"
      >
        <h1>
          Nauči kako zaraditi do 5000€ mjesečno - na
          <span>YouTube-u</span> i <span>TikTok-u!</span>
        </h1>
        <p>
          Trenutno su u toku posebne akcije na sve pakete čak, i ako nemaš<br />
          prethodnog iskustva!!
        </p>
        <div class="d-flex">
          <a href="#about" class="btn-get-started">O nama</a>
          <a
            href="https://www.youtube.com/watch?v=Y7f98aduVJ8"
            class="glightbox btn-watch-video d-flex align-items-center"
            ><i class="bi bi-play-circle"></i
            ><span class="hero-video">Video</span></a
          >
        </div>
      </div>

      <!-- RIGHT: CARDS -->
      <div class="col-lg-7 d-flex justify-content-center">
        <div class="d-flex gap-4 justify-content-center">
          <!-- Card 1 -->
          <div
            class="card custom-card glow-effect d-flex flex-column align-items-center text-center p-3"
          >
            <h1>Youtube Plan</h1>

            <h1 class="price-title mt-3">
              $24<span class="price-title"> / Mjesečno</span>
            </h1>
            <ul class="text-start">
              <li class="price-frame">
                <i class="bi bi-check price-list-icon"></i>
                <span class="price-list">Discord pristup</span>
              </li>
              <li class="price-frame">
                <i class="bi bi-check price-list-icon"></i>
                <span class="price-list">Nagradne igre do 500€</span>
              </li>
              <li class="price-frame">
                <i class="bi bi-check price-list-icon"></i>
                <span class="price-list">Video lekcije</span>
              </li>
              <li class="price-frame">
                <i class="bi bi-check price-list-icon"></i>
                <span class="price-list">Predavanja</span>
              </li>
              <li class="price-frame">
                <i class="bi bi-check price-list-icon"></i>
                <span class="price-list">Niche Drop </span>
              </li>

              <li class="price-frame">
                <i class="bi bi-check price-list-icon"></i>
                <span class="price-list"> Zarada od prvog videa! </span>
              </li>
            </ul>
            <a href="#" class="btn price-btn mt-auto mb-2">Kupovina</a>
          </div>

          <!-- Card 2 -->
          <div
            class="card custom-card main-card glow-effect d-flex flex-column align-items-center text-center p-3"
          >
            <h1>TikTok & Youtube Plan</h1>

            <h1 class="price-title mt-3">
              $44<span class="price-title"> / Mjesečno</span>
            </h1>
            <ul class="text-start">
              <li class="price-frame">
                <i class="bi bi-check price-list-icon"></i>
                <span class="price-list">TikTok Plan</span>
              </li>
              <li class="price-frame">
                <i class="bi bi-check price-list-icon"></i>
                <span class="price-list">Youtube Plan</span>
              </li>
            </ul>
            <a href="#" class="btn price-btn mt-auto mb-2">Kupovina</a>
          </div>

          <!-- Card 3 -->
          <div
            class="card custom-card glow-effect d-flex flex-column align-items-center text-center p-3"
          >
            <h1>TikTok Plan</h1>

            <h1 class="price-title mt-3">
              $21<span class="price-title"> / Mjesečno</span>
            </h1>
            <ul class="text-start">
              <li class="price-frame">
                <i class="bi bi-check price-list-icon"></i>
                <span class="price-list">Discord pristup</span>
              </li>
              <li class="price-frame">
                <i class="bi bi-check price-list-icon"></i>
                <span class="price-list">Nagradne igre do 500€</span>
              </li>
              <li class="price-frame">
                <i class="bi bi-check price-list-icon"></i>
                <span class="price-list">Video lekcije</span>
              </li>
              <li class="price-frame">
                <i class="bi bi-check price-list-icon"></i>
                <span class="price-list">Predavanja</span>
              </li>
              <li class="price-frame">
                <i class="bi bi-check price-list-icon"></i>
                <span class="price-list">Niche Drop </span>
              </li>
            </ul>
            <a href="#" class="btn price-btn mt-auto mb-2">Kupovina</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Waves SVG -->
  <svg
    class="hero-waves"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 24 150 28"
    preserveAspectRatio="none"
  >
    <defs>
      <path
        id="wave-path"
        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
      ></path>
    </defs>
    <g class="wave1"><use xlink:href="#wave-path" x="50" y="3"></use></g>
    <g class="wave2"><use xlink:href="#wave-path" x="50" y="0"></use></g>
    <g class="wave3"><use xlink:href="#wave-path" x="50" y="9"></use></g>
  </svg>
</section>
